/* 08 Feb 2024 */ 
/* Digital Ocean: Sammy's First Website */ 


body {
   margin: 0; 
}

header {
   background-image: url('background.jpg');
   background-size: cover;
   height: 480px;
   padding-top: 80px;
   text-align: center;
}

header img {
   height: 150px;
   border-radius: 50%;
   border: 10px solid #FEDE00;
}

header h1 {
   font-size: 100px;
   color: white;
   margin: 10px;
 
}

header p {
   font-size: 30px;
   color: white; 
}

header a {
   font-size: 20px;
   color: #1F9AFE; 
}

.profile-image {
   height: 600px;
   margin: 100px;
   float: left;
}

#main {
   height: 600px;
   margin: 100px;
}

#main h1 {
   font-size: 30px;
  
}

#main p {
   line-height: 2.0;
   font-size: 20px;

 
}

footer {
   height: auto;
   background-color: #F7C201;
}

footer h1 {
   color: white;
   padding: 40px;
   margin: 0;
   text-align: center;
}